/******************************************
				Main
******************************************/

body {
	
}

#wrapper {
	width: 100%;
	margin: 0px auto;
}

.hidden {
	display: none;
}

textarea {
	font-size: 1em;
	color: #444;
	outline: medium none;
	border: 1px solid rgba(0, 0, 0, 0.49);
	border-radius: 6px;
	background-image: -moz-linear-gradient(center bottom , #FFF 0%, #F2F2F2 100%);
	box-shadow: 0px 2px 0px #D9D9D9 inset;
	width: 100%;
	margin-bottom: 7px;
	padding-left: 5px;
	padding-top: 5px;
}


/******************************************
				Menu
******************************************/

/*#navigation {
	text-align: center;
	background-color: #EDEDED;
	box-shadow: 0px 0px 10px #888;
	z-index: 100;
}*/

ul {
	padding: 0;
	margin: 0;
}

/*nav li {
	display: inline-block;
}

nav li a {
	padding: 5px 20px;
	color: #777777;
	display: block;
	line-height: 1.5em;
	font-size: 1.4em;
	text-decoration: none;
}*/

nav li:hover {
	color: #000000;
	background-color: #CBCBCB;
	transition: all 0.5s;
	text-decoration: none;
}

nav li a:link {
	outline: 0;
	text-decoration: none;
}

/******************************************
				Table
******************************************/

table {
	font-size: 1.1em;
	line-height: normal;
	width: 100%;
}

th, td {
	padding: 10px;
	border: 1px solid #FFF;
	background: #ededed;
}

th, td a:hover {
	background: #e2e2e2;
}


/******************************************
				Form
******************************************/

input {
	background-clip: padding-box;
	border-radius: 6px;
}

.placeholder {
	color: #444;
}

.form_submit {
	float: left;
}

.install {
	margin-top: 250px;
}

select {
	cursor: pointer;
}


/******************************************
		Custom style rules
******************************************/

.loading_image {
	width: 80px;
	display: block;
	margin: auto;
	background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
}

.minimized_image {
	max-width: 40px;
}

.inline_paragraph {
	margin: 0;
	display: inline;
}

#masteryFrame {
	width: 100%;
	/*background: url("images/background-global.gif");*/
}

#serverPanels {
	width: 50%;
	margin: 0 auto;
}

.serv_panel {
	width: 50%;
	display: inline-table;
}

.panel {
	width: 50%;
	margin: 0px auto 20px;
}

.panel_ignore_width {
	width: 100%;
}

#warning_Message {
	position: fixed;
	width: 100%;
	top: 0;
	cursor: pointer;
	box-shadow: 16px 0px 25px grey;
	z-index: 1000;
}

.popupInfo {
	display: none;
	position: absolute;
	padding: 0em 2em 2em 2em;
	/*margin: 1em 0 3em;*/
	margin: -11em 0em;
	color: #fff;
	background: #000000;
	border-radius: 10px;
	border-width: 3px;
	border-style: groove;
	border-color: aquamarine;
}

#moreInfo {
	display: none;
	right: 0px;
	position: absolute;
	max-width: 20%;
	height: 100%;
	margin-top: -20px;
}

.btn, .btn:hover, .btn:active, .btn:link {
	outline: 0;
}

.tooltip-inner {
	white-space:pre-wrap;
}


/******************************************
		Bootsnipp design
******************************************/

.material-switch > input[type="checkbox"] {
	display: none;   
}

.material-switch > label {
	cursor: pointer;
	height: 0px;
	position: relative; 
	width: 40px;  
}

.material-switch > label::before {
	background: rgb(0, 0, 0);
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	content: '';
	height: 16px;
	margin-top: -8px;
	position:absolute;
	opacity: 0.3;
	transition: all 0.4s ease-in-out;
	width: 40px;
}

.material-switch > label::after {
	background: rgb(255, 255, 255);
	border-radius: 16px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	content: '';
	height: 24px;
	left: -4px;
	margin-top: -8px;
	position: absolute;
	top: -4px;
	transition: all 0.3s ease-in-out;
	width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
	background: inherit;
	opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
	background: inherit;
	left: 20px;
}

.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.hovereffect .overlay {
	position: absolute;
	overflow: hidden;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #FFF;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale(0,1);
}

.hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.hovereffect img {
	display: block;
	position: relative;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

.hovereffect:hover img {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
	filter: brightness(0.6);
	-webkit-filter: brightness(0.6);
}

.hovereffect h2 {
	text-transform: uppercase;
	text-align: center;
	position: relative;
	font-size: 17px;
	background-color: transparent;
	color: #FFF;
	padding: 1em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
	color: #FFF;
	padding: 1em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}